body {
  height: 100vh;
  margin: 0px;
}

.background {
  display: flex;
  height: 100%;
  background: #252728;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right {
  flex: 1;
  margin-left: 20px;

  align-items: center;
}
#myChart {
  background: #2d2e37;
}

h1 {
  color: #ffff;
  text-align: center;
}
#up {
  padding: 15px 32px;
  background-color: #4caf50;
  font-size: 35px;
  width: 151px;
  margin-top: 70px;
}
#down {
  padding: 15px 32px;
  font-size: 35px;
  background-color: #fc1d46;
}

.begin {
  display: flex;
}

#money {
  font-size: 50px;
  color: green;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.betAmount {
  display: flex;
}
#betMoney {
  font-size: 50px;
  color: red;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.new-price {
  display: flex;
}

.outcome2 {
  font-size: 50px;
  color: yellow;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.countdown-clock {
  display: flex;
}

.seconds {
  font-size: 50px;
  color: #c4d2db;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}